@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order placed successfully</h1>
        <h2 class="text-primary">Your order number is: @Model</h2>
        <br/>
        <img src="~/img/product/84386905-76ab-46ab-910f-983c9eeeac4f.png" width="65%"/>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully
    </div>
</div>